/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: lightgrey;
$link-color: #457EAC;
$navbar-bg: #1A281F;
$navbar-fg: #8EB19D;
$navbar-hl: #F0D2D1;
$headings-color: #BFDFCF;
  
// Code blocks
$code-block-bg-alpha: -.8;